html, body {
    max-width: 100%;
    max-height: 100%;
    /* overflow-y: hidden; */
    margin: 0 0 0 0;
}

#Mobile {
    display: none;
}

#Tablet {
    display: none;
}

.one {
    background-color: mistyrose;
    width: 100vw;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1000;
}

.two {
    background-color: bisque;
    background-image: url('../img/kevinBG.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.three {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    position: relative;
}

body {
    color: black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    width: 100%; 
    height: 100%;
}

.link {
    color: black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.description {
    width: 55vw;
    margin: 0 auto;
    font-size: 1.5vw;
    height: 70vh;
}

.First {
    border-width: 0 0 0 15px;
    border-color: salmon;
    padding-left: 10px;
    margin-left: 40px;
}

#Home {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    /* top: -10px; */
    /* left: -8px; */
}

#About {
   display: inline-block; 
   /* top: 1583px; */
   /* background-image: url('assets/img/IMG_2110.JPG'); */
}

.aboutPicture {
    height: 50vh;
    width: 32vh;
    position: relative;
    float: right;
    top: -1100px;
    margin-right: -300px;
}

.header {
    /* width: 45%; */
    text-align: center;
    font-size: 3em;
    font-family: 'Quicksand', sans-serif;
    padding-top: 2vh;
}

.title {
    margin-left: 600px;
    font-family: 'Quicksand', sans-serif;
}


.projectDisplay {
    position: relative;
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.galaxy {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    /* top: -10px; */
    /* left: -3px; */
}

.contactme {
    position: relative;
    margin-top: 50px;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    /* letter-spacing: 10px; */
    /* margin-top: -60px; */
    padding-left: 10px;
}

.skills {
    position: relative;
    margin-left: 1.8vw;
    font-size: 2.2vw;
    margin-bottom: 1.8vw;
}

#resume {
    width: 318px;
    float: right;
}

#resumePhoto {
    position: relative;
    height: 100px;
    width: 100px;
    top: -1290px;
    margin-left: 80px;
    border-radius: 100%;
}

#resumedescription {
    position: relative;
    top: -1300px;
    left: 70px;
}

#resumeDownload {
    text-decoration: none;
    color: peru;
}

#linkedinbadge {
    position: relative;
    top: -400px;
    float: right;
    margin-right: 60px;
}

.fa {
    color: peru !important;
    z-index: 5;
}

.skills ul li {
    display: inline;
}

#aboutInformation {
    background-color: rgba(255, 255, 255, .6);
    width: 60vw;
    margin-top: -6vh;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    height: 100vh;
}

.linkNav {
    margin: 0 30px 0 30px;
    text-decoration: none;
    color: peru;
}

nav {
    text-align: center;
}