/* Tablet */

@media (max-width:800px) {
    #Web {
        display: none;
    }

    #Tablet {
        display: inline-flex;
    }

    #Mobile {
        display: none;
    }

    body, .one, .two, .three, .galaxy {
        max-width: 100%;
    }

    nav {
        max-width: 100%;
   }

   .link {
       margin-left: .5%;
       margin-right: 3%;
   }

   #title span {
       font-size: 70% !important;
       background: -webkit-linear-gradient(white, rgb(57, 57, 168)) !important;
       -webkit-background-clip: text !important;
       -webkit-text-fill-color: transparent !important;
   }

   #title {
       text-align: left !important;
   }

   .one {
    background-color: rgb(173, 205, 235);
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1000;
    text-align: center;
    }

    body, a, .link {
        color: rgb(4, 5, 83);
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        width: 100%; 
        height: 100%;
    }
}

/* End of Tablet */

/* Mobile */

@media (max-width: 450px) {
    #Web {
        display: none;
    }

    #Tablet {
        display: none;
    }

    #Mobile {
        display: inline-block;
    }

    html, body, .one, .two, .three, .galaxy {
        max-width: 100%;
    }

    nav {
        max-width: 100%;
   }

   .link {
       margin-left: .5%;
       margin-right: 3%;
   }

   .one {
    background-color: rgb(215, 173, 235);
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1000;
    text-align: center;
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    body, a, .link {
        color: rgb(49, 3, 92);
        text-decoration: none;
        font-family: "Lato", sans-serif;
        width: 100%; 
        height: 100%;
    }

    #HomeMobile {
        background-color: lavender;
        position: absolute;
        width: 100%;
        height: 102%;
    }

    #TitleMobile {
        position: absolute;
        top: 40%;
        font-weight: 300px !important;
        font-size: 300%;
        letter-spacing: 2px;
        text-align: center;
        color: purple;
    }

    #AboutMobile {
        background-color: thistle;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100%;
    }

    #HeaderMobile {
        padding-top: 3%;
        padding-left: 4%;
        margin-bottom: 1%;
        font-size: 260%;
        font-weight: 300px;
    }

    #AboutMe {
        font-size: 110%;
        padding-left: 4%;
        padding-right: 4%;
    }

    #LinkMobile {
        text-align: center;
    }

    #ProjectsMobile {
        background-color: plum;
        position: absolute;
        top: 200%;
        width: 100%;
        height: 350%;
    }

    .ProjectMobile {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    #ProjectMobileHeader {
        font-size: 260%;
        padding-left: 4%;
    }

    .ProjectMobileTitle {
        font-size: 200%;
    }

    .ProjectMobilePicture {
        width: 55%;
        height: 55%;
    }

    .ProjectMobileDesc {
        font-size: 180%;
    }
    
    .MobileButton {
        padding: 2% 5% 2% 5%;
        background-color: rgb(157, 84, 212);
        color: lavender;
        font-size: 140%;
        border: 0px solid black;
        border-radius: 10%
    }

    #ContactMobile {
        background-color: mediumorchid;
        position: absolute;
        top: 550%;
        width: 100%;
    }
}

/* End of Mobile */
