.one {
    background-color: mistyrose;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1000;
}

.two {
    background-color: bisque;
    height: 806px;
    width: 1583px;
    left: -8px;
    position: relative;
}

.three {
    background-color: antiquewhite;
    height: 806px;
    width: 1583px;
    left: -8px;
    /* top: -48px; */
    position: relative;
}

body, .link {
    color: peru;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.link {
    margin-left: 15%;
}

p {
    
}

.description {
    width: 55%;
    margin-left: 350px;
    font-size: 25px;
}

.First {
    border-width: 0 0 0 15px;
    border-color: salmon;
    padding-left: 10px;
    margin-left: 40px;
}

#Home {
    background-color: black;
    height: 786px;
    width: 1583px;
    position: relative;
    /* top: -10px; */
    left: -8px;
}

#About {
   display: inline-block; 
   /* top: 1583px; */
   background-image: url('assets/img/IMG_2110.JPG');
}

.aboutPicture {
    height: 500px;
    width: 325px;
    position: relative;
    float: right;
    top: -1300px;
    margin-right: 15px;
}

.header {
    /* width: 45%; */
    text-align: center;
    font-size: 100px;
    font-family: 'Quicksand', sans-serif;
}

.title {
    margin-left: 600px;
    font-family: 'Quicksand', sans-serif;
}


.projectDisplay {
    width: 50%;
    margin-left: 460px;
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.galaxy {
    background-color: black;
    height: 795px;
    width: 1583px;
    position: relative;
    /* top: -10px; */
    /* left: -3px; */
}

#Contact {
    top: 15px;
}

.contactme {
    position: relative;
    margin-top: 50px;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    /* letter-spacing: 10px; */
    /* margin-top: -60px; */
    padding-left: 10px;
}

.skills {
    position: relative;
    top: -600px;
    margin-left: 60px;
    font-size: 1.5pc;
}

#resume {
    width: 318px;
}

#resumePhoto {
    position: relative;
    height: 149px;
    width: 149px;
    top: -1300px;
    margin-left: 240px;
    border-radius: 100%;
}

#resumedescription {
    position: relative;
    top: -1310px;
    left: 250px;
}

#resumeDownload {
    text-decoration: none;
    color: peru;
}

#linkedinbadge {
    position: relative;
    top: -400px;
    float: right;
    margin-right: 60px;
}